body {
  margin: 0;
  padding: 0;
  background: url('../img/elden-ring-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: #e3d7b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

}

h1, h2, h3 {
  color: #f6e27a;
  text-shadow: 1px 1px 5px #000;
  text-align: center;
}

.section {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(246, 226, 122, 0.3);
  margin: 20px;
  width: 90%;
  max-width: 800px;
  text-align: center;
}

input, button {
  padding: 10px;
  font-size: 18px;
  background-color: #222;
  color: #f6e27a;
  border: 1px solid #f6e27a;
  border-radius: 5px;
  margin: 10px 5px;
}

button:hover {
  background-color: #444;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 15px;
  border: 2px solid #f6e27a;
}
